<!DOCTYPE html> <!--#adicionado-->
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Funcionou, yay!</h1>
    <p><%=@message%></p>
  </body>
</html>